node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
flask.*
vite.*
migration.json
filesystem_export.json
.DS_Store
Thumbs.db
frontend/dist/
frontend/node_modules/
frontend/.vite/

